.work {
  width: 100vw;
  height: 100vh;
  background-color: white;
  /* gap: 20px; */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 24px; */
}
.work__container {
  max-width: 1020px;
  display: flex;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__heading {
  margin: 0 0 0 0;
}
.carousel-button {
  all: unset;
  height: 2.5rem;
  aspect-ratio: 1;
  border: 1px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 60ms ease-in;
}
.carousel-arrow-left {
  transform: rotate(225deg);
}
.carousel-arrow-right {
  transform: rotate(45deg);
}

.work__carousel {
  border: 1.5px solid black;
  height: 280px;
  color: black;
  display: flex;
  padding-left: 10px;
  gap: 30px;
  overflow-x: hidden;
  width: 94%;
  margin: 0 auto;
}
.carousel__image-container {
  margin: auto 0;
  height: 150px;
  display: flex;
  gap: 20px;
}
.carousel__image {
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
}
.carosel__section {
  margin: auto 0;
}
.carosel__section:nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  width: 80%;
}
.carosel__section:nth-child(2) {
  display: flex;
  font-weight: 900;
  flex-direction: column;
  width: 30%;
  gap: -10px;
}
.carosel__section:nth-child(3) {
  display: flex;
  gap: 10px;
  left: 100px;
  width: 100%;
}
.work__carousel-btn {
  all: unset;
  border: 2px solid black;
  margin-right: 10px;
  padding: 4px 12px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 80ms ease-out;
}
.work__carousel-btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

button a {
  all: unset;
}

.work p {
  color: black;
}
.hide {
  display: flex;
}
.show {
  display: none;
}
.work__smallbtns {
  display: flex;
  gap: 12px;
}
@media only screen and (max-width: 800px) {
  .show {
    display: flex;
  }
  .hide {
    display: none;
  }
  .work {
    height: 115vh;
    gap: 0px;
  }
  .work__container {
    height: 85vh;
  }
  .work__carousel {
    flex-direction: column-reverse;
    height: 80vh;
    padding: 10px 0px;
    gap: 0px;
  }
  .carosel__section:nth-child(1) {
    height: auto;
    gap: 8px;
    padding: 0 0 0 24px;
  }
  .carosel__section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    padding: 0 0 0 24px;
  }
  .carosel__section:nth-child(3) {
    height: 20vw;
  }
}
